# Sprint2_Part2_Colab(2)_데이터프레임 다루기

> 목표: 데이터프레임에 대한 기본적인 구조를 경험해보기  
> 내용: 데이터 확인 및 점검    

**데이터 정보 확인** shape, info(), describe()   
**결측치, 중복값 확인**  isnull, duplicated   
기본 인덱싱, 슬라이싱, 불리언 인덱싱

## 데이터 가져오기  
> 파일 경로를 입력하여 데이터를 손쉽게 가져올 수 있다.  
> 교안에서는 편의상 url로 대체하지만 colab에는 구글드라이브 마운트, 파일 업로드 등 다양한 방식이 있다.  


url로 데이터를 불러오고, 데이터 구조 및 정보, 수치정보를 확인해 본다.

![titanic](https://velog.velcdn.com/images/chaliechu117/post/020dcc3d-7cd6-43c3-b696-116c6ac593bd/image.jpg)

**해당 표는 편의를 위해 수기로 작성한 것이며, 일반적으로 칼럼 설명은 직접 찾아봐야 한다.**


| 컬럼명             | 의미    | 설명                  |
| --------------- | -------- | ------------------- |
| **PassengerId** | 승객 ID    | 각 승객을 구분하기 위한 고유 번호 |
| **Survived**    | 생존 여부    | 생존 = 1, 사망 = 0      |
| **Pclass**      | 객실 등급    | 1등석 / 2등석 / 3등석     |
| **Name**        | 이름       | 승객의 이름              |
| **Sex**         | 성별       | male / female       |
| **Age**         | 나이       | 승객의 나이      |
| **SibSp**       | 형제·배우자 수 | 함께 탑승한 형제자매 + 배우자 수 |
| **Parch**       | 부모·자녀 수  | 함께 탑승한 부모 + 자녀 수    |
| **Ticket**      | 티켓 번호    | 승객의 티켓 고유 번호        |
| **Fare**        | 요금       | 지불한 승선 요금           |
| **Cabin**       | 객실 번호    | 객실 위치 정보   |
| **Embarked**    | 탑승 항구    | 탑승한 항구 (C, Q, S)    |

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/rngus4656/datasets/refs/heads/main/S2/titanic.csv"

df = pd.read_csv(url)
df

In [ ]:
# 데이터의 형태 확인 해당 데이터 테이블은 행 개수, 열 개수
df.shape

In [ ]:
# 데이터 info 확인
df.info()

In [ ]:
# 데이터 수치 정보 확인
df.describe()

## pandas 기본 기능으로 df 살펴보기
> 데이터 조회, 확인 및 선택 방법  

기본 조회 메서드 head, tail, sample  
데이터 프레임의 인덱싱: 라벨 인뎅싱 loc & 정수 인덱싱 iloc

In [ ]:
# df의 가장 앞 부분 (디폴트 값 5)
df.head()

In [ ]:
# df의 가장 뒷 부분
df.tail()

In [ ]:
# df의 무작위 샘플
df.sample(5, random_state=42)

In [ ]:
# 결측치
df.isnull()
df.isna()

In [ ]:
# 칼럼별 결측치(isna()=True)의 합
df.isnull().sum()
df.isna().sum()

In [ ]:
# 특정 칼럼별 결측치 평균도 구할 수 있다.
df[['Age','Cabin']].isna().mean().round(2) # mean() 평균값, round(n) 소수 n번째까지 반올림

In [ ]:
# 중복값 점검
df.duplicated().sum()

# 고유값이 포함 된 중복값이 있을때는 df.drop_duplicates()로 제거 해 주는 것이 일반적이다.

### 인덱싱과 슬라이싱, 데이터 선택
파이썬의 인덱스는 기본적으로 0부터 시작한다.  
예를 들어, a = ['x', 'y', 'z']의 첫번째 인덱스인 x를 호출하기 위해 0번 인덱스를 조회한다.  
a[0] = 'x', a[1] = 'y', a[2] = 'z' (0번, 1번, 2번 Index 호출)  

* colab(1) 파이썬 기초 - '인덱스 구조' 참고

In [ ]:
# 문자열, 리스트 등의 기본 인덱싱

a = ['x', 'y', 'z']
print(a[0])
print(a[1])
print(a[2])

In [ ]:
# 슬라이싱의 기본 개념 a[시작:끝 -1] (디폴트값은 전체)

a = ['x', 'y', 'z']
print(a[0:2]) # 0번부터 1번까지 인덱싱
print(a[:3]) # 2번까지 인덱싱
print(a[1:]) #  1번부터 인덱싱
print(a[:]) # 전체 인덱싱

In [ ]:
# 기본 인덱싱 0부터 시작, 슬라이싱은 끝 -1 적용, 데이터 프레임의 기본 축은 axis = 행 0, 열 1

# 칼럼을 선택하는 가장 기본적인 방법
df['PassengerId'] # df.PassengerId 방식으로도 선택할 수 있지만, 코딩 편의상 [] 형식으로 통일.

In [ ]:
# 여러 칼럼을 선택할 수도 있다.
df[['PassengerId', 'Sex', 'Age', 'Ticket', 'Fare', 'Survived']]

#### 라벨 인덱싱 loc, 정수 인덱싱 iloc

라벨 인덱싱: loc[행시작:행끝, 열시작:열끝]을 이용한 인덱싱 (시작: 끝) -> 문자열로 인식하여 인덱싱하는 방식  
정수 인덱싱: iloc[행시작:행끝 -1, 열시작:열끝 -1]을 이용한 인덱싱 (시작:끝 -1) -> 가장 기본적으로 사용되는 방식

In [ ]:
# 데이터 프레임 형식은 df[4:]을 입력하면 오류가 나온다.

In [ ]:
# PassengerId를 인덱스로 가진 데이터 프레임의 인덱싱, 슬라이싱
df_a = df[['PassengerId', 'Sex', 'Age', 'Ticket', 'Fare', 'Survived']].set_index('PassengerId', drop=True)
df_a

In [ ]:
# 라벨 인덱싱을 통한 행과 열 선택

df_a.loc[3:7, 'Ticket':'Survived'] # 해당 라벨을 탐색하여 호출함

In [ ]:
# 정수 인덱싱을 통한 행과 열 선택

df_a.iloc[2:7, 2:5] # 해당 인덱스를 탐색하여 호출함

#### 불리언(boolean) 인덱싱  
불리언 연산자에 따라 True, False 값으로 분류하여 조회하는 방식  
데이터 프레임 형식으로는 df[df['칼럼'] 불리언 연산자]를 사용한다.

많이 쓰이는 불리언 연산자:
<, >, ==, !=, |, &

In [ ]:
# Survived가 1인 데이터 조회
df[df['Survived'] == 1].head() # df[df['Survived'] != 1].head()를 입력하면 반대의 결과가 출력 된다.(== <-> !=)

In [ ]:
# Fare가 100이상인 데이터 조회
df[df['Fare'] >= 100].head()

In [ ]:
# Fare가 100이상이거나, Survived가 1인 데이터 (OR 연산자)
df[(df['Fare'] >= 100) | (df['Survived'] == 1)].head()

In [ ]:
# Fare가 100이상이면서, Survived도 1인 데이터 (AND 연산자)
df[(df['Fare'] >= 100) & (df['Survived'] == 1)].head()

# 데이터 조회 및 분석 준비  
원하는 데이터를 조회하고, 용도에 맞게 재구성하며 분석을 준비한다.  
데이터 조건부 조회: 불리언 인덱싱, contains(), (dtype + astype())  
데이터 정렬 및 결측치 처리

## 특정 값 조회  
불리언 인덱싱, contains()를 통해 원하는 값만 조회

In [ ]:
# df.str.contains()를 통해 원하는 문자열을 포함하는 데이터만 조회할 수 있다.

# 이름에 Mrs.가 붙은사람 조회
df[df['Name'].str.contains('Mrs.')].head()

In [ ]:
# 이름에 Mrs.가 붙고 Survived가 1인 사람 조회을 변수 df_Mrs에 저장
df_Mrs = df[(df['Name'].str.contains('Mrs')) & (df['Survived'] == 1)]
df_Mrs.head()

In [ ]:
# df_Mrs의 value_counts 조회 -> 연속형 수치의 경우 유니크값이 너무 많아서 조회하기 힘들다.
df_Mrs.value_counts(subset='Age').head()
df_Mrs['Age'].value_counts().head()

In [ ]:
# df_Mrs['Age']의 유니크값, 유니크값 개수 조회
print('Age칼럼의 유니크값:',df_Mrs['Age'].unique())
print('Age칼럼의 유니크값 개수:',df_Mrs['Age'].nunique()) # 개수에서 nan 결측치는 제외한다.

## 결측치 중앙값으로 대체하기

In [ ]:
# df['Age']의 중앙값 조회
df['Age'].median()

In [ ]:
# Age칼럼의 결측치 개수 확인
df[['Age']].isna().sum()

In [ ]:
# sort_values로 재확인
# 총 row 891에서 결측치 177을 제외하면 총 714개의 행이된다. 즉, 714개의 행에다한 중앙값을 계산하면 된다.
(df['Age'].dropna().sort_values(ascending=False).reset_index(drop=True)[356] + df['Age'].dropna().sort_values(ascending=False).reset_index(drop=True)[357]) / 2

In [ ]:
# fillna로 결측치를 중앙값으로 대체
df_2 = df.copy()
df_2['Age'] = df_2['Age'].fillna(df_2['Age'].median())
print(df_2[['Age']].isna().sum())
df_2[['Age']].value_counts(ascending=False, dropna=False)

중앙값, 평균값, 최빈값 등 하나의 값으로 결측치를 처리한다면, 데이터 분포가 한쪽에 쏠릴 수 있기 때문에  
데이터에 따라, 다양한 코드와 라이브러리를 활용한다.

In [ ]:
# 심화 패턴: Age에 가장 영향을 많이 미친 Sex, Pclass 그룹당 median를 구하여 해당 값을 결측치로 대체

df.groupby(['Sex', 'Pclass'])['Age'].median()

In [ ]:
# 정답이라고 할 수 있는 방법은 없다. 다양한 기법과 라이브러리들이 있으니 데이터에따라 적절한 접근 방식을 설계 해보는 것이 필요하다.
df_3 = df.copy()
df_3['Age'] = df_3['Age'].fillna(df_3.groupby(['Sex', 'Pclass'])['Age'].transform('median'))
df_3['Age'].value_counts(ascending=False, dropna=False)

In [ ]:
df_3[['Age']].isna().sum()

## 새로운 Feature 생성  
결측치가 있던 행들은 분석시 혼선을 줄 수 있으므로, 새로운 결측치 여부 Feature로 만들어 구분할 수 있다.  
또한, 기존의 Feature를 기반으로 다양한 Feature Engineering을 수행 할 수 있다.

In [ ]:
# 결측치가 가장 많은 객실정보 Cabin은 'unknown'으로 대체하고, Embarked는 결측치가 2개이므로 간단하게 최빈값으로 대체한다.

df_3['Cabin'] = df_3['Cabin'].fillna('unknown')
df_3['Embarked'] = df_3['Embarked'].fillna(df_3['Embarked'].mode()[0])

In [ ]:
# Age_null 칼럼을 따로 만들어 두어, 결측치 여부를 판단할 수 있게 한다. (0, 1) 이진 분류

df_3['Age_null'] = df['Age'].isna().astype(int)
df_3

### 새로운 라벨을 만들어 나이 카테고리 Feature 생성하기  
Age와 같은 중요하면서도 세그먼트가 나뉘는 데이터들은 분석에 따라 연속형 수치가 아닌 범주형으로 보는 것이 더 좋을 수 있다.

In [ ]:
# 나이를 구간화, 카테고리화한 변수 지정하기

age_bins = [0, 12, 19, 34, 58, 100]
age_cat = ['Child', 'Teen', 'Young', 'Adult', 'Senior']

print(age_bins, age_cat)

In [ ]:
# pd.cut으로 라벨링 된 데이터 만들기

AgeGroup = pd.cut(df_3['Age'], bins=age_bins, labels=age_cat)
AgeGroup.head()

In [ ]:
# 새로운 Feature인 AgeGroup 추가
df_3['AgeGroup'] = AgeGroup
df_3

# 데이터 정제 및 분석 점검  
몇 가지 핵심적인 정제를 마친 df_3로 어떤 분석을 할 수 있는지 연습 해보기

In [ ]:
# 이름에 Mrs.를 포함하면서 생존한 사람 조회

df_3_Mrs = df_3[(df_3['Name'].str.contains('Mrs') & df_3['Survived'] == 1)].reset_index(drop=True)
df_3_Mrs.head()

In [ ]:
# 생존한 기혼 여성은 대부분 Adult, Young 그룹에 속해있다.
df_3_Mrs[['AgeGroup']].value_counts()

In [ ]:
# 전체 연령 그룹을 확인했을때, 청년, 성인그룹이 가장 많이 분포되어 있다.
df_3['AgeGroup'].value_counts()

In [ ]:
# 객실 등급은 3등석이 가장 많았고, 2등석이 제일 적었다.
df_3['Pclass'].value_counts()

In [ ]:
# 결측치가 많았던 Age, 영향 있었을까?
df_3.groupby("Age_null")["Survived"].mean()

In [ ]:
# 생존한 객실 등급 그룹은 높을수록 생존율이 좋았다.
df_3.groupby("Pclass")["Survived"].mean().round(2)

In [ ]:
# 생존한 성별 그룹을 볼 때, 성별은 여성 우선, 남성은 아이 우선으로 살리려고 한 것을 유추할 수 있다.
df_3.groupby(["Sex","AgeGroup"])["Survived"].mean().round(2)

In [ ]:
# 객실 등급이 높을수록 전체적인 생존율이 높고, 나이가 적은 그룹이 우선적으로 생존된 걸 확인할 수 있다.
df_3.groupby(["Pclass", "AgeGroup"])["Survived"].mean().round(2)

In [ ]:
# 단순 비율뿐만 아니라, 승객 인원수에 따른 생존율과 평균적인 객실 요금 확인이 가능하다.
df_3.groupby(["Sex", "Pclass"]).agg(cnt_Id=("PassengerId", "count"),avg_survived=("Survived", "mean"),avg_fare=("Fare", "mean")).round(2)

# 연습 예제

1. 어떤 AgeGroup이 가장 생존률이 높았고, 생존자 수가 가장 많은 그룹은 어디였을까?  

<details>
<summary> Hint code </summary>  



```
print('[전체 인원]\n', df_3.groupby(['AgeGroup'])[['Survived']].count().sort_values(by='Survived', ascending=False),
      '\n[생존자수]\n', df_3.groupby(['AgeGroup'])[['Survived']].sum().sort_values(by='Survived', ascending=False),
      '\n[생존율]\n', df_3.groupby(['AgeGroup'])[['Survived']].mean().sort_values(by='Survived', ascending=False).round(2))
```

```
df_3.groupby(['AgeGroup']).agg(cnt_group = ('AgeGroup', 'count'), cnt_survived = ('Survived', 'sum'), avg_survived =('Survived', 'mean')).round(2)
```
</details>

2. 성별과 객실 등급 중 어떤 특성이 생존에 미치는 영향이 강해보이는가?

*성별과 객실 등급 각각 따로 확인, 정답은 없으니 자유롭게 분석 해보기*

<details>
<summary> Hint code </summary>  

```
df_3.groupby('Sex').agg(cnt=('Sex', 'count'), mean=('Survived', 'mean')).round(2)
```  

```
df_3.groupby('Pclass').agg(cnt=('Pclass', 'count'), mean=('Survived', 'mean')).round(2)
```  

</details>

In [ ]:
# 성별 특성 분석

In [ ]:
# 객실 등급 특성 분석

**심화**
 1. 데이터 Feature를 더 추가한다면, 어떤 특성을 추가할 수 있는가?

2. 다른 데이터 셋으로도 비슷한 분석이 가능한가?  
<details>
<summary>iris 데이터 셋</summary>

```
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/rngus4656/datasets/refs/heads/main/S2/iris.csv")
df.head()
```

</details>